.header {
	display: flex;
}

.headerItemOne {
	flex-grow: 1;
	font-size: 2rem;
	color: #ffffff;
	display: flex;
	justify-content: center;
}

.headerItemTwo {
	flex-basis: 10px;
	flex-shrink: 0;
}

.bgColor {
	margin-top: 1rem;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
}
