.btn {
	background-color: #ff9900;
	margin-top: 0.5rem;
	padding: 1rem;
	color: #ffffff;
	display: block;
	width: 100%;
	border-bottom: 1px solid #ff9203;
    box-shadow: -3px 3px #ff9203, -2px 2px #ff9203, -1px 1px #ff9203;
}
